@import url("https://fonts.googleapis.com/css?family=Baumans|Megrim&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Baumans", cursive;
  color: #f3f0f0;
  background: url("./img/background.jpg") no-repeat 50% 50%;
  background-size: cover;
}
body:before {
  content: "";
  background: #000000;
  background: linear-gradient(168deg, #000000 0%, transparent 100%);
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: #f3f0f0;
}

.title {
  padding: 5px 0 0 10px;
  z-index: 10;
  position: relative;
}
.title h1 {
  font-family: "Megrim", cursive;
  font-size: 45px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding-left: 10px;
  color: #fa9e1e;
  text-shadow: 2px 2px 0px #84c1ff, 4px 4px 0px #ff1808, 4px 4px 6px #fa9e1e;
}

.nav {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 100;
}
.nav li {
  display: inline;
  padding: 0 15px;
  border-left: 3px solid #f3f0f0;
}
.nav li:hover {
  border: 2px solid #f3f0f0;
  transition: 0.05s ease-in-out;
}
.nav li:active {
  border: 5px solid #f3f0f0;
}
@media (max-width: 799px) {
  .nav li {
    display: none;
  }
}

.line {
  width: 85%;
  height: 100px;
  border: solid 1px #f3f0f0;
  border-radius: 45%/60px 100px 0 0;
  border-color: #fa9e1e transparent transparent transparent;
  position: absolute;
  top: 80px;
  left: 13%;
}
.offers {
  padding-top: 100px;
  width: 1200px;
  margin: 0 auto;
}

.cards-container {
  width: 100%;
  perspective: 800px;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 140px;
  height: 200px;
  margin: auto;
  box-shadow: 0 70px 63px -60px #494848;
  transform-style: preserve-3d;
  transition: transform 0.05s linear;
}
.perspective-3d {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.perspective-3d:after {
  background: inherit;
  content: "";
  display: block;
  position: absolute;
  left: -60px;
  top: 40px;
  width: 100%;
  height: 85%;
  z-index: -1;
  filter: blur(50px);
}
h2 {
  position: absolute;
  top: 0;
  font-size: 1.1em;
  font-weight: 100;
  transform: translateZ(80px);
  text-transform: uppercase;
}
span {
  position: absolute;
  bottom: 40px;
  right: -10px;
  font-size: 0.8em;
  font-weight: 600;
  transform: translateZ(35px);
}

.button {
  padding-top: 60px;
  position: relative;
  margin: 0 auto;
  width: 320px;
}
.button:hover .button__rect {
  stroke-dasharray: 760;
  stroke-dashoffset: 0;
  stroke-width: 2px;
}
.button__rect {
  fill: transparent;
  stroke: #fa9e1e;
  border-bottom: 5px solid #fa9e1e;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
}
.button__text {
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #f3f0f0;
  top: -48px;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 10%;
  right: 10%;
}

.network {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  font-family: "Megrim", crusive;
}
.network a {
  padding: 0px 25px;
}
@media (max-width: 840px) {
  .network a {
    padding: 0px 5px;
  }
}
.network a:hover {
  transform: scale(2.5);
  transition: 0.4s ease-out;
  text-shadow: 0 0 5px #f3f0f0, 0 0 10px #f3f0f0, 0 0 15px #f3f0f0,
    0 0 20px #fa9e1e, 0 0 30px #fa9e1e, 0 0 40px #fa9e1e, 0 0 55px #fa9e1e,
    0 0 75px #fa9e1e;
}
.network a:hover:nth-child(5) {
  transform: scale(1.1);
  font-weight: bolder;
}
